/* Profile  */
.UserProfile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UserProfile img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  box-shadow: 0 1rem 1.3rem rgba(0, 0, 0, .4);
  transition: all .3s ease-in-out;
}

.UserProfile img:hover {
  transform: scale(1.04) rotate(10deg) translate(2px, 4px);
}

.Profile_info {
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  line-height: 1.8;
}

.Profile_info strong {
  letter-spacing: 1.2px;
}