/* General Styles */

:root {
  --text-color: #454b57;
  --text-link-color: #41464f;
  --background-color: #e7e8f3;
  --text-blue-color: #0182ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100%;
}

a {
  text-decoration: none;
}

a,
a:hover,
a:active {
  color: var(--text-link-color);
}

ul {
  list-style: none;
}

body {
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;

  font-size: 1.7rem;
  color: var(--text-color);

  background: linear-gradient(
    #5b86e5,
    #36d1dc
  ); 
}

body::-webkit-scrollbar {
  width: .6em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--text-blue-color);
  outline: 1px solid var(--text-color);
}

/* Utility classes */
.colored {
  color: var(--text-blue-color)
}

.span,
.span-big {
  background-color: var(--text-blue-color);
  color: white;
  margin: 3px;
  border-radius: 2rem;
  display: inline-block;
  padding: 3px 5px;
  font-size: 1.4rem;
}

.span-big {
  font-size: 2rem;
}

.flex-row-center {
  display: flex;
  justify-content: center !important;
}

.flex-col-center {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.mv-20 {
  margin-top: 2rem;
}